<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Freestock</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'category/css/layout.css' %}"  rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-color:#546e7a;">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">

      <div class="fl_right">
        <ul class="nospace">
          <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="#">Freestock</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="#">Home</a></li>
         <li><a href="#">About</a></li>
          <li class="active"><a class="drop" href="#">Categories</a>
            <ul>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Nature</a></li>
              <li><a href="#">Wildlife</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">+More</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </header>
  </div>
</div>
<div class="wrapper row2">
  <div id="breadcrumb" class="hoc clear">
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>

    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Categories</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="{% static 'category/images/1.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/2.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/3.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/4.jpg' %}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{% static 'category/images/5.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/6.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/7.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/8.jpg' %}" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="{% static 'category/images/9.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/10.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/11.jpg' %}" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="{% static 'category/images/12.jpg' %}" alt=""></a></li>
          </ul>
          <figcaption></figcaption>
        </figure>
      </div>

    </div>

    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4 bgded overlay" style="background-color:#546e7a;">
  <footer id="footer" class="hoc clear">
    <div class="one_third first">
      <h6 class="title">CONTACT</h6>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title"></h6>
      <ul class="nospace linklist contact">
              </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Freestock.com</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">About</a></h2>
            <p class="nospace">FreeStock.com is a website where a user can download free stock photos </p>
          </article>
        </li>
      </ul>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">freestock.com</a></p>
    </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

<!-- JAVASCRIPTS -->
<script src="{% static 'category/scripts/jquery.min.js' %}"></script>
<script src="{% static 'category/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'category/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
