{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'category/css/testing.css' %}">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'category/scripts/script.popup.js' %}"></script>


    <meta charset="UTF-8">
    <title>Freestock</title>
</head>
<body>

    <div class="container mt-5" style="text-align: center">

        <div class="row">
            {% for item in items %}

                    <div class="col-md-4 mt-5">
                        <img src="{{ item.image.url }}" class="image" id="id{{ forloop.counter }}"
                             onclick="popup('myModal', 'id{{ forloop.counter }}', 'img01', 'download_img', '{{ item.image.url }}')">
                    </div>

            {% endfor %}

        </div>

    </div>

    <div id="myModal" class="container modal" style="text-align: center">

        <div class="row">
            <span class="close">&times;</span>
            <div class="col-md-5">
                <img class="modal-content" id="img01">
            </div>
            <div class="col-md-5">
                <a id="download_img" download>
                    <button class="btn btn-outline-success">Free Download</button>
                </a>
            </div>
        </div>

    </div>


</body>
</html>
